.well
  .control-group.string_type
    table.table.table-bordered
      thead.thead-light
        tr
          - @object.keys.each do |key|
            th = key
  .control-group.string_type
    h4 = "#{@object.game_objects.count} объектов"
  = form_tag('', multipart: true, class: 'form-horizontal denser') do
    .control-group.string_type
      label.control-label for="file" Файл (xlsx, xls)
      .controls
        = file_field_tag 'file', class: "form-control", required: true
    - if @object.need_archive?
      .control-group.string_type
        label.control-label for="archive" Архив (Zip)
        .controls
        = file_field_tag 'archive', class: "form-control", required: true
    br/
    .form-actions
      button.btn.btn-primary data-disable-with="Обработка..." name="_save" type="submit"
        i.icon-white.icon-ok
        | Загрузить


